table {
	width: 100%;
	white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
    color: blue;
    border: 1px solid black;
}

table tr td {
	color: blue;
}