.month-label {
    text-align: center;
    text-transform: capitalize;
}
.striped {
    text-decoration: line-through;
}

.date-line {
    text-transform: capitalize;
}

@media print { 

	.text-primary { 
		color: DodgerBlue; 
	}

	table tr td, table tr th {
        page-break-inside: auto;
        page-break-after: auto;
    }

}